<footer class="bg-[#2C2931] border-t border-[#FFFFFF33] py-6">
    <div class="max-w-container mx-auto px-4 xs:px-5 md:px-11">
        
        <!-- Single responsive layout -->
        <div class="flex flex-col xs:flex-row justify-around md:justify-between md:items-center space-y-8 xs:space-y-0">
            
            <!-- Brand name -->
            <a href="#" class="font-mono font-semibold text-text-primary text-[24px] xs:text-lg md:text-xl lg:text-2xl tracking-wider uppercase hover:gradient-text transition-all duration-300 cursor-pointer">
                TUCKER WIELAND
            </a>
            
            <!-- Navigation links -->
            <div class="flex flex-col xs:flex-col xs:text-left md:flex-row gap-6 xs:gap-4 md:gap-8 lg:gap-12 md:items-center">
                <a href="#project-showcase" class="font-mono font-medium text-text-primary text-[16px] uppercase tracking-wide hover:gradient-text transition-all">
                    PROJECT SHOWCASE
                </a>
                <a href="#worked-with" class="font-mono font-medium text-text-primary text-[16px] uppercase tracking-wide hover:gradient-text transition-all">
                    WORKED WITH
                </a>
                <a href="#about-me" class="font-mono font-medium text-text-primary text-[16px] uppercase tracking-wide hover:gradient-text transition-all">
                    ABOUT ME
                </a>
                <a href="#contact-me" class="font-mono font-medium text-text-primary text-[16px] uppercase tracking-wide hover:gradient-text transition-all">
                    CONTACT ME
                </a>
            </div>
            
        </div>
        
    </div>
</footer>
