{% macro SplitTitle(left, right, sizes='text-[48px] md:text-[80px] lg:text-[120px]') %}
  <h2 class="font-helvetica font-bold uppercase leading-none centerline">
    <div class="center-grid mb-2">
      <div class="snap-left {{ sizes }}">{{ left }}</div>
      <div></div>
    </div>
    <div class="center-grid">
      <div></div>
      <div class="snap-right {{ sizes }}">{{ right }}</div>
    </div>
  </h2>
{% endmacro %}
