---
permalink: /assets/js/posthog-init.js
eleventyExcludeFromCollections: true
---

{# src/assets/js/posthog-init.js.njk #}
{% set PH_TOKEN = env.POSTHOG_KEY %}

(function(doc, win) {
  {% if PH_TOKEN %}
  var ph = win.posthog = win.posthog || [];
  ph._i = ph._i || [];
  ph.init = function(token, cfg, name){
    function stub(t, m){ t[m] = function(){ t.push([m].concat([].slice.call(arguments,0))) } }
    var inst = name ? ph[name] = [] : ph;
    var methods = "init capture identify alias people.set people.set_once reset group.set register unregister autotrack set_config capture_links capture_forms time_event".split(" ");
    for (var i=0; i<methods.length; i++) stub(inst, methods[i]);

    var s = doc.createElement("script");
    s.type = "text/javascript";
    s.async = true;
    s.crossOrigin = "anonymous";
    s.src = "https://logs.tuckerwieland.com/static/array.js";
    var x = doc.getElementsByTagName("script")[0];
    x.parentNode.insertBefore(s, x);

    inst._i.push([token, cfg, name]);
  };

  ph.init("{{ PH_TOKEN }}", {
    api_host: "https://logs.tuckerwieland.com",
    ui_host: "https://us.posthog.com",
    capture_pageview: true,
    person_profiles: "identified_only"
  });
  {% else %}
  console.warn("PostHog skipped: no POSTHOG_KEY at build.");
  {% endif %}
})(document, window);